.button_styles {
    border: 1px solid black;
    padding: 8px;
    color: white;
    border-radius: 12px;
    background-color: gray !important ;
    font-size: bold;
    letter-spacing: -0.3px;
    
}