.button_styles {
    
    padding: 8px;
    color: white;
    border-radius: 12px;
    background-color: rgb(182, 182, 182) !important ;
    font-size: bold;
    letter-spacing: -0.3px;
    z-index: 9999;
    
}