
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior: smooth;
  font-family: 'Oswald', sans-serif;
}


/*! --------------- Propiedades del ScrollBar ----------------------  */

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #d0dee6; 
}

::-webkit-scrollbar-thumb {
  background: #546A7B; 
 
}

::-webkit-scrollbar-thumb:hover {
  background: #3f5f80; 
}



h1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 5.9rem;
} 


.englishText {
  opacity: 0;
}

.spanishText {
  opacity: 1;
}

/*! --------------- Propiedades del banner principal, top side ----------------------  */
.stats {
  position: relative;
  overflow: hidden;
  color: #eee;
  font-size: 40px;
  padding: 30px 0px;
  font-weight: 600;
  }
  
  .stats_inner {
  display: flex;
  width: fit-content;
  flex: auto;
  flex-direction: row;
  }
  
  .stats_part {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 0 4px;
  
  }
  
  .hero_section {
    background-color: #393D3F;    
  }



  #projects {
    clip-path: polygon(0 0, 100% 0, 100% 97%, 50% 100%, 0 97%);
  }

/*! --------------- Noise effect for background App ----------------------  */

  .grain {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    z-index: 300;
    transform: translateZ(0);
  }
    .grain:before {
      content: "";
      top: -10rem;
      left: -10rem;
      width: calc(100% + 20rem);
      height: calc(100% + 20rem);
      z-index: 99;
      position: fixed;
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
      opacity: 0.15;
      pointer-events: none;
      -webkit-animation: noise 1s steps(2) infinite;
      animation: noise 1s steps(2) infinite;
    }
  
    @-webkit-keyframes noise {
      to {
        transform: translate3d(-7rem, 0, 0);
      }
    }
  
    @keyframes noise {
      0% {
        transform: translate3d(0, 9rem, 0);
      }
      10% {
        transform: translate3d(-1rem, -4rem, 0);
      }
      20% {
        transform: translate3d(-8rem, 2rem, 0);
      }
      30% {
        transform: translate3d(9rem, -9rem, 0);
      }
      40% {
        transform: translate3d(-2rem, 7rem, 0);
      }
      50% {
        transform: translate3d(-9rem, -4rem, 0);
      }
      60% {
        transform: translate3d(2rem, 6rem, 0);
      }
      70% {
        transform: translate3d(7rem, -8rem, 0);
      }
      80% {
        transform: translate3d(-9rem, 1rem, 0);
      }
      90% {
        transform: translate3d(6rem, -5rem, 0);
      }
      to {
        transform: translate3d(-7rem, 0, 0);
      }
    }

  #skills {
    z-index: 9000!important;
  }
  
/*! --------------- Propiedades scroll behavior ----------------------  */

  html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

  .cursor {
    border-radius: 50%;
    background-color: #89b5cb;
    position: fixed;
    top: 0;
    left: 0px;
    opacity: 0.7;
    z-index: 9999!important;
  }

  .hero_image {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}