@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #3e5c6a -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.cont {
  overflow-x: hidden;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #1d899a 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  top:1.8rem;
  right:-0.75rem;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* .feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
} */

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

/* .feedback-card:hover {
  background: var(--black-gradient);
} */

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 10%);
  filter: blur(123px);
}
.blue__gradient2 {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 90%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 10%, #fc67fa 10%);
  filter: blur(500px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(500px);
}



 /*  SECTION SCROLL TRIGGER PARRAFO   */


.banner {
  white-space: nowrap;
  width: 200vw;
  font-size: 106px;
  font-weight: 400;
  letter-spacing: -3px;
}

.banner2 {
  letter-spacing: -3px;
  font-size: 126px;
  font-weight: 400;
  white-space: nowrap;
  width: 200vw;
}

@media (max-width: 768px) {
  .banner {
    font-size:42px;
    letter-spacing: -2px;
  }
  .banner2 {
    font-size:42px;
    letter-spacing: -2px;
  }

}

/*  SCROLL BAR   */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #79b2d1; 
}

::-webkit-scrollbar-thumb {
  background: #1e4b6b; 
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #202249; 
}



h1 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 5.9rem;
} 

.cursor {
  border-radius: 50%;
  background-color: #ffffff;
  filter: blur(4.1rem);
  position: fixed;
  top: 0;
  left: 0px;
 
}


.fadeText {
  opacity: 1;
  transition: opacity 0.5s ease-in-out; /* Transición de opacidad suave */
}

.englishText {
  opacity: 0;
}

.spanishText {
  opacity: 1;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.text-gradient {
  background-image: linear-gradient(45deg, #3b9b9c, #eee, #3b9b9c);
  background-size: 200% 100%;
  color: transparent;
  background-clip: text;
  animation: gradientAnimation 6s ease-in-out infinite; /* Ajusta la duración según tu preferencia */
}

.marquee {
  position: relative;
  overflow: hidden;
 
  color: #eee;
  font-size: 40px;
  padding: 30px 0px;
  font-weight: 600;
  }
  
  .marquee_inner {
  display: flex;
  width: fit-content;
  flex: auto;
  flex-direction: row;
  }
  
  .marquee_part {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 0 4px;
  
  }
  
  .marqueeV {
    width: fit-content;
  position: relative;
  overflow: hidden;
 
  color: #eee;
  font-size: 34px;
  padding: 30px 0px;
  font-weight: 600;
  writing-mode: vertical-rl;
  text-orientation: upright;
  max-height: 420px;
  }
  
  .marqueeV_inner {
  display: flex;
  flex-direction: row;
  }
  
  .marqueeV_part {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    padding: 0 4px;
  
  }

  .hero_section {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 49% 100%, 0 54%);
    
    background-color: #393D3F;
    
  }

  #projects {
    clip-path: polygon(0 0, 100% 0, 100% 97%, 50% 100%, 0 97%);
  }


  .grain {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    z-index: 300;
    transform: translateZ(0);
  }
    .grain:before {
      content: "";
      top: -10rem;
      left: -10rem;
      width: calc(100% + 20rem);
      height: calc(100% + 20rem);
      z-index: 9999;
      position: fixed;
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
      opacity: 0.15;
      pointer-events: none;
      -webkit-animation: noise 1s steps(2) infinite;
      animation: noise 1s steps(2) infinite;
    }
  
    @-webkit-keyframes noise {
      to {
        transform: translate3d(-7rem, 0, 0);
      }
    }
  
    @keyframes noise {
      0% {
        transform: translate3d(0, 9rem, 0);
      }
      10% {
        transform: translate3d(-1rem, -4rem, 0);
      }
      20% {
        transform: translate3d(-8rem, 2rem, 0);
      }
      30% {
        transform: translate3d(9rem, -9rem, 0);
      }
      40% {
        transform: translate3d(-2rem, 7rem, 0);
      }
      50% {
        transform: translate3d(-9rem, -4rem, 0);
      }
      60% {
        transform: translate3d(2rem, 6rem, 0);
      }
      70% {
        transform: translate3d(7rem, -8rem, 0);
      }
      80% {
        transform: translate3d(-9rem, 1rem, 0);
      }
      90% {
        transform: translate3d(6rem, -5rem, 0);
      }
      to {
        transform: translate3d(-7rem, 0, 0);
      }
    }

  #skills {
    z-index: 9000!important;
  }
  
  html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }